<p>お問い合わせありがとうございます。</p>
<p>次の内容でお問い合わせいただきました：</p>

<h2>お問い合わせ内容</h2>
<table>
<tr>
<th>氏名</th>
<td>{{ name | striptags(true) }}</td>
</tr>
<tr>
<th>氏名よみがな</th>
<td>{{ nameKana | striptags(true) }}</td>
</tr>
<tr>
<th>メールアドレス</th>
<td>{{ email | striptags(true) }}</td>
</tr>
<tr>
<th>メッセージ</th>
<td>{{ message | striptags(true) | escape | nl2br }}</td>
</tr>
</table>

<hr />

<p>
本メールは自動返信メールです。<br />
お問い合わせいただいてから、４８時間以内に返答させていただきます。<br />
しばらくお待ちください。
</p>

